body {
  max-width: 500px;
  margin: auto;
}

.game_container {
  height: auto;
  display: flex;
  flex-direction: column;
}

.games {
  border: black 2px solid;
  margin: 10px;
  padding: 1em;
}

.rating {
  color: grey;
}

.loader {
  border: solid 10px black;
  border-top: 10px solid #05f2af;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
